@model INCISE2018_MVC.Models.RegistrationViewModel

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row container">
    <div class="col">
        <div class="row">
            <div class="col-12">
                <h2>Registration</h2>
                <h5>Register for the INCISE2018 Symposium</h5>
                <hr />
            </div>
            <div class="col-12" id="s1">
                <h4>We are currently open for symposium registration. To register, you need to:</h4>
                <br />
                <h4>1. Pay the registration fees </h4>
                <p>Foreign experts please pay the registration fee from @Html.ActionLink("this entrance", "Foreign").</p>
                <p>Domestic experts please pay the registration fee from @Html.ActionLink("this entrance", "Domestic").</p>
                <br />
                <h4 id="s2">2.Early bird discount fees apply until September 30th. Registration closes on October 25th.</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr><th colspan="2" class="table-secondary">Registration Fees (include applicable taxes)</th></tr>
                        <tr><th>Symposium fees</th><th>Rates in RMB</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>Regular rate - early bird</td><td>¥2000</td></tr>
                        <tr><td>Regular rate – full</td><td>¥2500</td></tr>
                        <tr><td>Student rate*</td><td>Free</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12" id="s3">
                <p>* The registration fee of the top 25 student applicants will be exempted.</p>
            </div>
            <div class="col-12" id="s4">
                <h4>3. Field Trip - Dapeng Peninsula National Geopark (深圳大鹏地质公园)</h4>
                <p>
                    At the registration, please indicate whether if you are interested in participating a day trip on
                    November 8 to the Dapeng Peninsula National Geopark (深圳大鹏地质公园) located 75 km east of the city.
                </p>
                <div class="row rounded border m-4">
                    @{
                        if (!User.Identity.IsAuthenticated)
                        {
                            <div class="col-12 text-center">
                                <h6 class="m-4">Please Login First</h6>
                                <div class="mb-4">
                                    @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-outline-primary" })
                                </div>
                            </div>
                        }
                        else
                        {
                            if (!Model.IsRegisted)
                            {
                                <div class="col-12 text-center">
                                    <h6 class="m-4">I'd like to sign up for this field trip.</h6>
                                    <div class="mb-4">
                                        @Html.ActionLink("Sign Up for This Trip", "SignUp", "Registration", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-outline-primary" })
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-12 text-center">
                                    <h6 class="m-4">You have already signed up for this field trip.</h6>
                                    <div class="mb-4">
                                        @Html.ActionLink("Cancel This Trip", "Cancel", "Registration", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-outline-danger" })
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-3 d-none d-lg-block border-left">
        <h4 class="m-2">Directory</h4>
        <ul class="nav nav-pills flex-column p-0">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#s1">Pay the registration fees</a>
                @Html.ActionLink("> Foreign Entrance", "Foreign", null, new { @class = "nav-link text-secondary" })
                @Html.ActionLink("> Domestic Entrance", "Domestic", null, new { @class = "nav-link text-secondary" })
                <a class="nav-link text-secondary" href="#s2">Early bird discount fees apply until September 30th.</a>
                <a class="nav-link text-secondary" href="#s4">Early bird discount fees apply until September 30th.</a>
            </li>
        </ul>
    </div>
</div>