<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - INCISE 2018</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container body-content">
        <div class="mb-5">
            <div class="jumbotron mb-0" style="border-bottom-left-radius:0px;border-bottom-right-radius:0px;background:url(/Content/Images/JB-Background.jpg);background-repeat:no-repeat;background-position:right bottom;;background-size:cover">
                <h1><strong>4th INCISE International Submarine Canyon Symposium</strong></h1>
                <p style="font-size:1.75rem">5-7 November 2018, Shenzhen, CHINA</p>
            </div>
            <nav class="nav bg-dark rounded-bottom">
                <ul class="nav mr-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link text-light" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Abstract", "Index", "Abstract", null, new { @class = "nav-link text-light" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Programme", "Programme", "Home", null, new { @class = "nav-link text-light" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Travel&Accommodations", "Travel_Accommodations", "Home", null, new { @class = "nav-link text-light" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Venue", "Venue", "Home", null, new { @class = "nav-link text-light" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Registration", "Index", "Registration", null, new { @class = "nav-link text-light" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Sponsors", "Sponsors", "Home", null, new { @class = "nav-link text-light" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link text-light" })
                    </li>
                </ul>
                <ul class="nav">
                    @Html.Partial("_LoginPartial")
                </ul>
            </nav>
        </div>
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - INCISE 2018</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
